@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary: #2563eb;
  --secondary: #475569;
  --success: #22c55e;
  --danger: #ef4444;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f8fafc;
  color: #1e293b;
}

.custom-fab-shadow {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
